* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    height: 100vh ;
    background-color: #181c1f;
    color: #F6F6F6;
}

.titleDest {
    color:#22D4FD;
}

.TextFoto {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ApresentacaoConteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.Tituloh1Main {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.paragrafoola {
    font-size: 24px;
    font-family: 'Roboto Mono', monospace;
}

.subtituloh2 {
    font-family: 'krona one', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
}

.link1 {
    border: 2px outset #22D4FD;
    text-align: center;
    border-radius: 8px;
    padding: 21px;
    width: 378px;
    color: rgb(1, 45, 40);
    text-decoration: none;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: #F6F6F6;
}

.linha {
     position: relative;
    width: 301px;
    height: 378px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.linha::before, .linha::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    background: linear-gradient(45deg, #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000,
    #ffff00, #00ff00, #00d0ff, #001aff, #a200ff);
    background-size: 300%;
    border-radius: 8px;
    animation: Animarborder 8s linear infinite;
}


.linha::after {
    filter: blur(40px);
}


@keyframes Animarborder {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 300%;
    }
}

.img1 {
    border-radius: 8px;
}